.grid-container {
  display: grid;
  width: 58vw;
  margin: auto;
  grid-template-columns: repeat(11, 1fr);
  grid-gap: 1% 1%;
  grid-auto-rows: minmax(7.4vh, auto);
}

.grid-cell {
  background-color: grey;
}

.grid-food-cell {
  background-color: red;
}
